{% extends "base.html" %}

{% block main %}
<div class="container m-5">

    <h3 class="mb-5">"You might also like :"</h3>
    <div class="d-flex justify-content-between">
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img style="height:120px;width:80px" src="{{img1}}" alt="img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{rec1}}</h5>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img style="height:120px;width:80px" src="{{img2}}" alt="img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{rec2}}</h5>
            </div>
          </div>
        </div>
    </div>
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img style="height:120px;width:80px" src="{{img3}}" alt="img">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{rec3}}</h5>
            </div>
          </div>
        </div>
    </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img style="height:120px;width:80px" src="{{img4}}" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rec4}}</h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img style="height:120px;width:80px" src="{{img5}}" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rec5}}</h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img style="height:120px;width:80px" src="{{img6}}" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rec6}}</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
    <br>
    <div class="d-flex justify-content-between">
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img style="height:120px;width:80px" src="{{img7}}" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rec7}}</h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img style="height:120px;width:80px" src="{{img8}}" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rec8}}</h5>
                </div>
              </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img style="height:120px;width:80px" src="{{img9}}" alt="img">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{rec9}}</h5>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}